<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{object.name}}</title>
    
    </head>
    <body>
        <P>Product : {{object.name}} </p>
        <P>Manufacturer : {{object.manufacturer}} </p>
        <P>Description : {{object.description}} </p>
        <P>Price : {{object.price}} </p>
        <P>Shipping_cost : {{object.shipping_cost}} </p>
        <P>Quantity : {{object.quantity}} </p>

        <img src = "{{object.photo.url}}" alt="product photo">
        
    </body>
</html>